IMPORTING RELEVANT LIBRARIES.

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv(r"C:\Users\HP PC\Desktop\Hamoye Stage A\data\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [10]:
print(f"shape: {df.shape}")
print(df.info())
df.head()

shape: (60943, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB
None

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [11]:
#1
df.groupby("Element")

In [15]:
country = df["Area"].nunique()
country

49

In [ ]:
#10
df.describe().round(2)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.00,60943.00,60943.00,59354.00,59395.00,59408.00,59437.00,59507.00
mean,134.27,2687.18,3814.86,134.20,135.24,136.56,140.92,143.76
std,72.61,146.06,2212.01,1567.66,1603.40,1640.01,1671.86,1710.78
min,4.00,2501.00,511.00,-1796.00,-3161.00,-3225.00,-1582.00,-3396.00
25%,74.00,2562.00,684.00,0.00,0.00,0.00,0.00,0.00
50%,136.00,2630.00,5142.00,0.09,0.08,0.08,0.10,0.07
75%,195.00,2775.00,5511.00,8.34,8.46,8.43,9.00,9.00
max,276.00,2961.00,5911.00,176405.00,181137.00,185960.00,190873.00,195875.00

In [ ]:
#4
wine = df.groupby("Item")[["Y2015", "Y2018"]].sum()
wine

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [ ]:
#6
lowest_sum = df.groupby("Area")["Y2017"].min().head(7)
lowest_sum

Area
Algeria         -81.0
Angola         -250.0
Benin          -125.0
Botswana        -38.0
Burkina Faso   -281.0
Cabo Verde       -7.0
Cameroon       -147.0
Name: Y2017, dtype: float64

In [ ]:
lowest_sum = df.groupby("Area")["Y2017"].sum().head()
seventh_lowest_area = lowest_sum.nsmallest(7).index[-1]
seventh_lowest_area

'Algeria'

In [ ]:
#7
missing = df["Y2017"].isnull().sum()
print(missing)
total = len(df)
percent = (missing/total)*100
print(percent)

1506
2.4711615772114928

In [ ]:
#9
print(df["Element Code"].corr(df["Y2014"]))
print(df["Element Code"].corr(df["Y2015"]))
print(df["Element Code"].corr(df["Y2016"]))
print(df["Element Code"].corr(df["Y2017"]))
print(df["Element Code"].corr(df["Y2018"]))

0.024456819495221736
0.02388919930163995
0.02344399758496138
0.024254007760045757
0.02427857195351954

In [ ]:
#12

In [ ]:
#14
highest_sum = df.groupby("Area")["Y2017"].sum().head()
highest_sum

Area
Algeria         325644.27
Angola          229159.57
Benin           124771.22
Botswana         22101.30
Burkina Faso    101855.07
Name: Y2017, dtype: float64

In [ ]:
total_unique_countries = df['Area'].nunique()
total_unique_countries

49

In [ ]:
lowest_sum = df.groupby("Element")["Y2017"].sum().head()
lowest_sum

Element
Domestic supply quantity              2088198.10
Export Quantity                        182338.80
Fat supply quantity (g/capita/day)      10253.84
Feed                                   223705.68
Food                                  1258888.28
Name: Y2017, dtype: float64

In [ ]:
lowest_sum = df.groupby("Element")["Y2014"].sum().head()
lowest_sum

Element
Domestic supply quantity              1996716.35
Export Quantity                        150020.64
Fat supply quantity (g/capita/day)      10225.56
Feed                                   216927.89
Food                                  1212332.49
Name: Y2014, dtype: float64

In [ ]:
lowest_sum = df.groupby("Element")["Y2015"].sum().head()
lowest_sum

Element
Domestic supply quantity              2021493.55
Export Quantity                        157614.47
Fat supply quantity (g/capita/day)      10235.74
Feed                                   225050.22
Food                                  1232361.10
Name: Y2015, dtype: float64